.donate_sm {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 10px 18px;
  margin: 0;
  background: #D62126;
  border: 0;
  cursor: pointer;
  outline: none;
}

.donate_lg {
  display: inline-block;
  font-family: inherit;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 16px 18px;
  margin: 0;
  background: #D62126;
  border: 0;
  cursor: pointer;
  outline: none;
}

.outline {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 10px 18px;
  margin: 0;
  background: #4a86e8;
  border: 0;
  cursor: pointer;
  outline: none;

}

.outline:hover{ background: #319AFA; }

.donate_sm:hover, .donate_lg:hover{ background: #FF282E; }

.white-section {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  border: 0px;
}

.error-message {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: red;
}

.navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.navlink {
  font-family: 'Lato', sans-serif;
}

.navbar-right {
  margin-top: -3px;
  padding-right: 15px;
}


.nav.navbar-nav.navbar-right li a {
  font-size: 16px;
  color: #ffffff;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #ffffff;
  font-size: 16px;
}

.img-circle {
    border-radius: 50%;
}

html {
  position: relative;
  min-height: 100%;
}

body, html {
  overflow-x: hidden;
}

.about {
  background: #ffffff url("./bg_bottom.png") no-repeat;
  background-position: bottom right;
  background-size: 2100px 150%;
  width: 100%;
  height: 600px;
  margin-top: -20px;
  margin-bottom: -25px;
  padding-left: 15px;
  padding-right: 15px;
}

.bottom {
  background: #ffffff url("./bg_bottom.png") no-repeat;
  background-position: bottom right;
  background-size: 2100px 150%;
  width: 100%;
  height: 500px;
  margin-top: -19px;
}

.about > .text {
  position: bottom;
}

.about > p {
  color: #ffffff;
  font-size: 36px;
}

.white {
  background-color: #ffffff;
}

.odd {
  background-color: #f6f6f7;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d3e0e9;
  margin: 1em 0;
  padding: 0;
}

.long {
  height: 100px;
  vertical-align: middle;
}

.top-header {
  padding-top: 0px;
  background-color: #ffffff;
}

.nav {
  background-color: transparent;
}

body {
  padding-top: 0px;
  background-color: #edeef0;
}

.top-bar {
  background-color: #ffffff;
  margin-top: 0px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-body {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  max-width: 950px; /* or 950px */
  padding-left: 15px;
  padding-right: 15px;
}

.container-nav {
  max-width: 950px !important; /* or 950px */
}

.mobile-header {
  padding-top: 5px;
  background-color: #4a86e8;
  height: 50px;
  border-color: #234F8E;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.mobile-header a {
  color: #ffffff;
  font-size: 24px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

.container-shrink {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.bar-white {
  background-color: #ffffff;
  border: 1px solid #d3e0e9;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

a:hover {
  color: #1c5380;
}

.content-box {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #d3e0e9;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.top-content {
  margin-top: 20px;
}

.text-muted {
  color: #90939a;
}

.p2 {
  font-size: 14px;
}



.center-form {
  width: 315px;
  margin: 10% auto;
}

.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.btn-full {
  width: 90%;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42px;
}

.social {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

.social ul {
    margin: 0;
    padding: 0;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 25px;
    height: 25px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 15px;
    text-align:center;
    padding-top: 7px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-globe:hover {
    background: #e64522;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-instagram:hover {
    background: #375989;
}

.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border: 1px solid #456c8c;
}

.btn-instagram:hover,
.btn-instagram:focus {
  color: #fff;
  background-color: #303030;
}

.media-object {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.media-heading {
  display: block;
  margin: 0;
  color: #3f729b;
}

.media-heading:hover {
  color: #1c5380;
}

.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  border: 0;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .04),0 1px 5px rgba(0, 0, 0, .1);
}
