extends layout

block content

  .about
   
  .white  
    .container-body
      center
        br
        h2.text-primary We are a non-profit organization based in Boston that launched in September 2016.


        h2 Our mission is to empower people to change their communities with technology. We created a social platform that does just that.

        

        br

        br
        h3 Help us get off the ground today!
        br
        a(href='/donate')
            .donate_sm Donate now
        br
        br