extends layout

block content
  .container
    br
    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*dd0HCakDOdjf95zD.jpeg')
      .col-xs-9
        a(href='/profile') Igor V.
        small  wrote
        h4 My Response to #SOTU

        p #[a(href='#') 47 Likes] &middot; #[a(href='#') 3 Dislikes] &middot; #[a(href='#') 4 Stars]
    hr
    p Instead of offering serious solutions to keeping our nation safe and ensuring that every family has access to the American Dream, tonight we heard the political wish list of a lame duck president. I heard a President unconcerned with governing by Executive Order, and who will attempt to continue ignoring the will of Congress and the American people.
    p While the President seeks to define his legacy this year, its important that we remember just what happened over the past seven years:
    p · The rise of ISIS
    p · Multiple misguided attempts to close Guantanamo Bay, which have led to former detainees returning to prominent roles in terror groups
    p · A horribly misguided deal with Iran
    p · 46 million Americans living in poverty
    p · Many American families facing with higher health care premiums and deductibles
    p · Even more Americans leaving the workforce because they felt they simply could not find work
    p · Massive systematic failures at the Department of Veterans Affairs
    p · Attempts to shut down successful school choice programs
    p And that’s just the beginning. To put it as simply as possible, the policies of the past seven years have been incredibly damaging for the American people. But we now have a chance to change that.
    p We must lead in the fight against extremists and terror, and make certain that our allies in the Middle East are playing a significant role on the ground. We cannot simply hope ISIS or al-Qaeda will disappear. The men and women of our Armed Forces are true American heroes, and they deserve nothing less than the strongest strategy possible behind their missions.
    p At home, our nation is powered by the people — hardworking men and women doing all that they can to support their families. Unfortunately, Washington likes to get in the way of that. We need to ensure that innovation and entrepreneurship are thriving while reenergizing the American Dream.
    p By implementing school choice and encouraging apprenticeships and other job training initiatives, we can give every family the opportunity to thrive. By restructuring our social welfare programs, we can see that they act as a trampoline that encourages success. And through a reinvention of our tax code, we will see our small businesses grow and their innovations multiply.
    p America’s future is bright because the American people are strong. Despite the failures of the past seven years, that will not change.

    hr
    h4 Responses
    hr
    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*n7EgCvp_PrAR4WMW.jpg')
      .col-xs-9
        a(href='/profile') Caesar N.
        small  commented
        p
        p Don't be so dramatic.
