extends layout

block content
  .container-body
    .row
      .col-sm-2.hidden-xs
        include sidebar
      .col-sm-10
        .content-box
          .headertext My Communities
          hr
          .row
            each item in data
              if (user.communities.indexOf(item.id) != -1)
                .col-xs-12.col-sm-6.col-md-4
                    .thumbnail
                      .caption
                        center
                          a(href='/community/#{item.id}')
                            .headertext2 #{item.name}


          if (user.communities.length == 0) 
            p You aren't in any communities yet... Join one so you can get started!

        .content-box
          .headertext Nearby Communities
          hr
          - var x = 0
          .row
            each item in data
              if (user.communities.indexOf(item.id) == -1)
                .col-xs-12.col-sm-6.col-md-4
                      .thumbnail
                        .caption
                          center
                            a(href='/community/#{item.id}')
                              .headertext2 #{item.name}

                - x = x+1
          if (x == 0)
            p There are no other communities near you.