extends layout

block content
  .container
    br
    h4 My Communities
    hr
    .row
      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Boston, MA
            small 29,000 members

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Northeastern University
            small 1,199 members
      .col-sm-4.col-md-4
        .thumbnail
          .caption
            h5 Options
            small
              a(href='#') Create Community