extends layout

block content
  .container
    br
    h4 All Communities
    hr

    ul
      each item in data
        li
          a(href='/community/#{item.id}') #{item.name}
    hr
    h4 Suggested Communities
    hr

    h4 Options
    small
      a(href='/community/create') Create Community