extends layout


block content
  
  .content-box
    h3 Create Community
    hr
    form.form-horizontal(id='createCommunity' class='form-horizontal', action='/create-community', method='POST')
      .form-group
        label.col-sm-2.control-label(for='name') Name
        .col-sm-4
          input#name.form-control(type='text', class='form-control', name='name', value='', required)
      .form-group
        label.col-sm-2.control-label(for='desc') Description
        .col-sm-4
          textarea#desc.form-control(type='text',  class='form-control', name='desc',  placeholder='', required)
      .form-group
       .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Save

    #message
      if message
        h1.text-center.error-message #{message}