extends layout

block content
  br

  //.well.well-sm.bar-white
  //  ul.nav.nav-tabs
  //    li.active(role='presentation')
  //      a(href='#') Write
  //    li(role='presentation')
  //      a(href='#') Idea
  //    li(role='presentation')
  //      a(href='#') Poll
  //    li(role='presentation')
  //      a(href='#') Request
  //    li(role='presentation')
  //      a(href='#') Event
  //    li(role='presentation')
  //      a(href='#') Petition
  //
  //textarea.form-control(rows='3')
  //p
  //a.btn.btn-primary.btn-md(href='#', role='button') Post

  .content-box
    .row
      .col-xs-3.col-md-2
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*n7EgCvp_PrAR4WMW.jpg')
      .col-xs-9.col-md-10
        a(href='/profile') Caesar N.
        small  shared an idea in #[a(href='#') Students at NEU]
        p
        p We should have monthly student flea markets at Centennial Common and give a portion of the profits to local food pantries.
        small #[a(href='/idea') View idea]