extends layout

block content

  .content-box
      .row
        .col-xs-3.col-md-2
          center
            -
        .col-xs-9.col-md-10
          p #[a(href='#') User] joined the community #[a(href='#') Boston, MA].