extends layout

block content
  .container-body


    br
    br
    .content-box
      
        h2 Help us change how people shape their communities.
        hr
        br
        br
        .row
          .col-xs-12.col-sm-5

            h4 By donating to CiviLink, you'll be helping us:
            ul 
              li Launch our beta testing effort
              li Design and create marketing resources and merchandise
              li Plan community projects in Boston
              li Put together a volunteer effort
            br
            br
            
          .col-xs-12.col-sm-7
            center
              form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='8ZFWHAQYGVZHN')
                input.donate_lg(type='submit', value='Donate on PayPal now', name='submit', title='PayPal - The safer, easier way to pay online!')
                img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        br
        br