extends layout

block content
  .container
    br
    ol.breadcrumb
      li #[a(href='#') Northeastern University]
      li #[a(href='/ideas') Ideas]
      li.active Monthly flea markets for charity

    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*n7EgCvp_PrAR4WMW.jpg')
      .col-xs-8
        a(href='/profile') Caesar N.
        small  came up with an idea for #[a(href='#') Northeastern University]
        h4 Monthly flea markets for charity
        p We should have monthly student flea markets at Centennial Common and give a portion of the profits to local food pantries. 

        p #[a(href='#') 47 Likes] &middot; #[a(href='#') 3 Dislikes] &middot; #[a(href='#') 4 Volunteers]
      .col-xs-3
        h4 25% complete
        p Chart goes here
    hr
    h4 Goals
    hr

    p Visual chart of the goals and complete goals go here (to give percent complete)

    hr

    h4 Updates

    hr

    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*n7EgCvp_PrAR4WMW.jpg')
      .col-xs-9
        a(href='/profile') Caesar N.
        small  posted an update
        p
        p Request has been approved. Centennial Common has been booked for February 4th!
    br
    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*n7EgCvp_PrAR4WMW.jpg')
      .col-xs-9
        a(href='/profile') Caesar N.
        small  posted an update
        p
        p We are now at 20 art students interested in the event.

    hr

    h4 Feedback and discussion
    hr
    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/0*GEU_mNU28hDrVKQm.jpg')
      .col-xs-9
        a(href='/profile') Sandra K.
        small  said
        p
        p I love this! We could perhaps get art students involved and see if they would be interested in selling some of their work at the flea market. I have a few friends who would be interested in being a part of the flea market for sure.
    br
    .row
      .col-xs-1
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/65/65/1*eplSxfdcVPaTFRMbhXk3HA.jpeg')
      .col-xs-8
        a(href='/profile') Hillary C.
        small  said
        p
        p I'm an art student at NEU and I'm totally down for this! jk its me hrc i got all of ur votes rite?? 