extends layout

block content
  .content-box
    .container
      .row
        .col-sm-7
          br
          br
          h3 Introducing CiviLink
          h4 a social platform for community engagement.
        .col-sm-3
          .row
            div
              p.text-center.login-title Sign in
                div.account-wall
                  form(class='form-signin', action='/login', method='POST')
                    input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                    input(type='password', name='password' class='form-control', placeholder='Password', required)
                    button(class='btn btn-md btn-primary btn-block', type='submit') Sign in
                    span.clearfix
                br
                a(href='/sign-up', class='text-center') Create an account
                #message
                if message
                  p.text-center.error-message #{message}

  .content-box
    .row
      .col-md-7
        h4 Donate today!
        p If you like the idea of CiviLink and want to see everything we are trying to accomplish become reality, please consider donating to us.
        p Sign up, join a community, help turn ideas into reality, earn points!
      .col-md-5
        center
          br
          br
          form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
            input(type="hidden" name="cmd" value="_s-xclick")
            input(type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHJwYJKoZIhvcNAQcEoIIHGDCCBxQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA9V0coiTpf2BZzDTHewpRXfrkeWJ6I0vG/xd8c7P03V2F5yPd2xPCJCGMVndxT8Jct03AmIfqy78rPRk6vMxZDLjIo4sx5dqBts6mLbIzgDE1W6yT+PKWAmbEyDeXfPg/PXEhc7W5jX6K8Igwr9P32fLKYVVF2cCroRSx/tBKuZTELMAkGBSsOAwIaBQAwgaQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIUArPZLkEe8WAgYCKs3FL8RSvwBw+l6ii94zrLZZKD7Zi1SO+tPo//e00GJS+D95RPzZBqOwoe63GD61/PzFW7I5KTTlwULp11fHfch+zU6AK/EOSmB4aotTxuXezqXZqJqt9XBFtyTaLWOZwMR+jBSfCqrhUGZlVe39jvMPzDcGNNeKLTRuo//x0JqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE2MDQxMzA0MTg1MFowIwYJKoZIhvcNAQkEMRYEFEZVhu4OJ3xE16JhILPZhRv1Ju2DMA0GCSqGSIb3DQEBAQUABIGAD/xAuYYuFOvUb77PvGkTyrMdOeWDA990H3T4zdfXVmJ7XEnCfeYuAvEjQuuYADPIrtvG7h/rnPEsaDh7HIFq2dWcD/3Ufh7j0RBRj2fmfwLtk4n3G5QU8bmOOMfTx20v4wlWKRtDrbqvFKbZ2kljBHgdi3jXLwMp0UJEUhSWRyI=-----END PKCS7-----")
            input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
          img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
  .content-box
    h4 Subscribe to receive updates from us
    // Begin MailChimp Signup Form
    link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
    style(type='text/css').
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 45%}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='//civilink.us13.list-manage.com/subscribe/post?u=8558877e60f9fc3cd66f04d33&id=e22a257241', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          .indicates-required
            span.asterisk *
            |  indicates required
          .mc-field-group
            label(for='mce-EMAIL')
              | Email Address  
              span.asterisk *
            input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
          .mc-field-group
            label(for='mce-FNAME') First Name 
            input#mce-FNAME(type='text', value='', name='FNAME')
          .mc-field-group
            label(for='mce-LNAME') Last Name 
            input#mce-LNAME(type='text', value='', name='LNAME')
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_8558877e60f9fc3cd66f04d33_e22a257241', tabindex='-1', value='')
          .clear
            input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
    script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
    script(type='text/javascript').
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
    // End mc_embed_signup
