extends layout

block content
  .jumbotron
    .container
      p
        | Welcome to CiviLink, a social platform for community engagement.
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Sign up!

  .container
    .row.featurette
      .col-md-7
        h4
          | For college students 
        p
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5
    
    hr.featurette-divider

    .row.featurette
      .col-md-5
      .col-md-7
        h4
          | For non-profits 
        p
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

    hr.featurette-divider

    .row.featurette
      .col-md-7
        h4
          | For high school students 
        p
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5
    
    hr.featurette-divider

    .row.featurette
      .col-md-5
      .col-md-7
        h4
          | For everyone else
        p
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

    hr.featurette-divider