doctype html
html(ng-app='CiviLink')
  head
    title=title+'CiviLink'

    link(rel='stylesheet', href='/stylesheets/jumbotron.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/landing-page.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jquery.validate.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/Chart.min.js')
    script(type='text/javascript', src='/javascripts/angular.js')
  body(ng-controller='CLController')
    .top-header
      nav.navbar.navbar-default.navbar-fixed-top.navbar-white
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            

            navbar-brand
              a(href='/' class='navbar-brand') CiviLink
                
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              if user
                li
                  a.navlink(href='/dashboard') Dashboard
                li
                  a.navlink(href='/community') Communities
                li
                  a.navlink(href='/tasks') My Tasks
                li.dropdown
                  a.navlink.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | #{user.firstName} #{user.lastName} 
                    span.caret
                  ul.dropdown-menu
                    li
                      a.navlink(href='/profile/#{user.username}') View Profile
                    li
                      a(href='/edit-profile') Edit Profile
                    li.divider(role='separator')
                    li
                      a.navlink(href='/logout') Logout
              else
                li
                  a(href='/sign-up') Register


    .container.container-body
      block content

    .footer
      .container.container-body
          p © 2016 CiviLink