extends layout

block content
  .container
    br
    h4 People
    .row
      .col-xs-3
        h3 Caesar Nuzzolo
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/150/150/0*n7EgCvp_PrAR4WMW.jpg')
        br
        p He's pretty cool lol.
      .col-xs-3
        p noodle