extends layout

block content
  .container
    br
    .row
      .col-md-3
        center
          img.img-circle(src='https://cdn-images-1.medium.com/fit/c/150/150/0*n7EgCvp_PrAR4WMW.jpg')
      .col-md-6
        h3 Caesar N.
          small    @caesar
        p student, social entrepreneur, history and policy nerd, writer, world traveler. Founder of #[a(href='#') CiviLink] and #[a(href='#') Swag For Humanity].
        p #[a(href='#') Boston, MA] &middot; Student at #[a(href="#") Northeastern University]
      .col-md-3
        h4 Engagement
        p Pie chart goes here
    .row
      .col-md-3
        br
        center
          a.btn.btn-primary.btn-md(href='#', role='button') Follow
      .col-md-1
        center
          h4
            | #[a(href='#') 250]
          small score
      .col-md-1
        center
          h4
            | #[a(href='#') 32k]
         small followers
      .col-md-1
        center
          h4
            | #[a(href='#') 100]
          small following
      .col-md-1
        center
          h4
            | #[a(href='#') 5]
          small rings
      .col-md-1
        center
          h4
            | #[a(href='#') 3]
          small articles
      .col-md-1
        center
          h4
            | #[a(href='#') 14]
          small ideas
    br
    ol.breadcrumb
      li.active Causes: #[a(href='#') education], #[a(href='#') urban development], #[a(href='#') economic well-being]
    h5 Hours Volunteered
      small  (verified, total)
    h5 Events Organized
      small  (also attended)
    h5 Progress of Ideas
    h5 Requests feed
