extends layout

block content
  .container
    
    h4 My Rings
    hr
    .row
      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Students at NEU
            small A ring for Students at Northeastern University to advance any cause that will better our community and campus.
            hr
            small 234 Members

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Software Engineers For Social Progress
            small A ring for those dedicated to using their software and web development skills to better society and the communities we live in.
            hr
            small 4113 Members

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Massachusetts Volunteer Corps
            small A ring for Massachusetts residents who love giving back to their communities in their free time. Meet others who do too here.
            hr
            small 15231 Members

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 MA Democrats
            small A ring for members of the Democratic Party of Massachusetts. Organize events and get involved with the party.
            hr
            small 51000 Members

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Greater Boston Urban Planners
            small A ring for members of the Greater Boston area who are passionate about making our city and surroundings as beautiful and innovative as possible.
            hr
            small 877 Members