if user
  p
    a(href='/dashboard') Activity Feed
  p
    a(href='/community') Communities
  p
    a(href='/tasks') My Tasks
else
  p
    a(href='/sign-up') Register
  p
    a(href='/') Login
hr
.grayed © 2016 CiviLink
a.grayed(href='/about' class='grayed') About
&nbsp;&nbsp;&nbsp;
a.grayed(href='/donate' class='grayed') Donate