extends layout

block content
  
  .content-box
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Sign up
        br
        .signup-wall
          form(class='form-signin', action='/signup', method='POST')
            input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
            input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
            input(type='email', name='email', class='form-control', placeholder='Email',required)
            input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
            input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
            input(type='number', name='zip', class='form-control', placeholder='Zip Code',required)
            input(type='text', name='city', class='form-control', placeholder='City',required)
            select#state.form-control(name='state',required)
              option(value='AK') Alaska
              option(value='AL') Alabama
              option(value='AR') Arkansas
              option(value='AZ') Arizona
              option(value='CA') California
              option(value='CO') Colorado
              option(value='CT') Connecticut
              option(value='DC') District of Columbia
              option(value='DE') Delaware
              option(value='FL') Florida
              option(value='GA') Georgia
              option(value='HI') Hawaii
              option(value='IA') Iowa
              option(value='ID') Idaho
              option(value='IL') Illinois
              option(value='IN') Indiana
              option(value='KS') Kansas
              option(value='KY') Kentucky
              option(value='LA') Louisiana
              option(value='MA') Massachusetts
              option(value='MD') Maryland
              option(value='ME') Maine
              option(value='MI') Michigan
              option(value='MN') Minnesota
              option(value='MO') Missouri
              option(value='MS') Mississippi
              option(value='MT') Montana
              option(value='NC') North Carolina
              option(value='ND') North Dakota
              option(value='NE') Nebraska
              option(value='NH') New Hampshire
              option(value='NJ') New Jersey
              option(value='NM') New Mexico
              option(value='NV') Nevada
              option(value='NY') New York
              option(value='OH') Ohio
              option(value='OK') Oklahoma
              option(value='OR') Oregon
              option(value='PA') Pennsylvania
              option(value='PR') Puerto Rico
              option(value='RI') Rhode Island
              option(value='SC') South Carolina
              option(value='SD') South Dakota
              option(value='TN') Tennessee
              option(value='TX') Texas
              option(value='UT') Utah
              option(value='VA') Virginia
              option(value='VT') Vermont
              option(value='WA') Washington
              option(value='WI') Wisconsin
              option(value='WV') West Virginia
              option(value='WY') Wyoming

            button(class='btn btn-lg btn-primary btn-block', type='submit') Register
            span.clearfix
        br
        #message
          if message
            h1.text-center.error-message #{message}