h4 Tools
    hr

    .row
      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Support local economy
            small Use this tool to learn how to better support your local economy

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Local economic health
            small Learn about your community's economic well being here
      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='/ideas')
              h5 Ideas
            small Check out the ideas for your community and how you can help

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='#')
              h5 Local quality of living
            small See how your community's quality of living scores and how it ranks with other communities

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='/events')
              h5 Events
            small See what's going on and how you can get involved

      .col-sm-4.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            a(href='/opinion')
              h5 Opinion
            small Share your opinion and see what other's think in your community