p, a, small, li {
	font-family: 'Raleway', sans-serif;
}
p, a, li {
  font-size: 14px;
}

h4, .headertext2 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.landingpage {
  font-size: 52px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.landingpagesub {
  font-size: 28px;
  color: #666666;
  font-family: 'Raleway', sans-serif;
}


.donate_sm {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 10px 18px;
  margin: 0;
  background: #D62126;
  border: 0;
  cursor: pointer;
  outline: none;
}

.donate_lg {
  display: inline-block;
  font-family: inherit;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 16px 18px;
  margin: 0;
  background: #D62126;
  border: 0;
  cursor: pointer;
  outline: none;
}

.outline {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 10px 18px;
  margin: 0;
  background: #4a86e8;
  border: 0;
  cursor: pointer;
  outline: none;
  
}

.outline:hover{ background: #319AFA; }

.donate_sm:hover, .donate_lg:hover{ background: #FF282E; }

h2, .headertext1 {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

h3, .headertext {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


.white-section {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  border: 0px;
}

.error-message {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: red;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: #e8e8e8;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.navbar-default .navbar-brand > a:hover {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.navlink {
  font-family: 'Raleway', sans-serif;
}

.nav.navbar-nav.navbar-right li a {
  color: #e8e8e8;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #ffffff;
}

h5 {
  font-family: 'Raleway', sans-serif;
}

a, a:visited {
  color: #4a86e8;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.img-circle {
    border-radius: 50%;
}

.bannertext {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.bannertext > a {
  color: #ffffff;
}

html {
  position: relative;
  min-height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d3e0e9;
  margin: 1em 0;
  padding: 0; 
}

.top-header {
  padding-top: 5px;
  background-color: #ffffff;
}

.nav {
  background-color: #4a86e8;
}

.navbar-static-top {
  margin-bottom: 19px;
}

body {
  margin-bottom: 60px;
  padding-top: 0px;
  background-color: #f5f8fa;
}

.top-bar {
  background-color: #ffffff;
  margin-top: 0px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-body {
  margin-right: auto;
  margin-left: auto;
  padding-top: 75px;
  max-width: 950px; /* or 950px */
}

.navbar-white {
  background-color: #4a86e8;
  border-color: #234F8E;
  padding-bottom: 5px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.bar-white {
  background-color: #ffffff;
  border: 1px solid #d3e0e9;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

a:hover {
  color: #1c5380;
}

.content-box {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #d3e0e9;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.top-content {
  margin-top: 20px;
}

.text-muted {
  color: #90939a;
}

.p2 {
  font-size: 12px;
}



.center-form {
  width: 315px;
  margin: 10% auto;
}

.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42px;
}

.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border: 1px solid #456c8c;
}

.btn-instagram:hover,
.btn-instagram:focus {
  color: #fff;
  background-color: #303030;
}

.media-object {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.media-heading {
  display: block;
  margin: 0;
  color: #3f729b;
}

.media-heading:hover {
  color: #1c5380;
}

.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  border: 0;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .04),0 1px 5px rgba(0, 0, 0, .1);
}

.navbar-default .dropdown-menu {
     background-color: #ffffff;
     color:#000000;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    color:#000000;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #e8e8e8;
}
 
.navbar .nav > li.dropdown.open > a {
   color: #fff;
   background-color: #4a86e8;
   border-color: #fff;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.clear {
    clear:both;
    line-height:0;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}